# =========================
# Maven / Spring Boot
# =========================
target/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code（可保留）
# =========================
.vscode/

# =========================
# IntelliJ（可保留）
# =========================
.idea/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log
